# Optimizaciones para Render
legacy-peer-deps=true
prefer-offline=true
fetch-retries=3
fetch-retry-mintimeout=20000
fetch-retry-maxtimeout=120000

# Puppeteer: usar Chromium del sistema si está disponible
puppeteer_skip_chromium_download=false

