# Optimizaciones para Render
legacy-peer-deps=true
fetch-retries=5
fetch-retry-mintimeout=20000
fetch-retry-maxtimeout=120000
progress=false
audit=false
fund=false

# Puppeteer: optimizaciones para Render
PUPPETEER_SKIP_CHROMIUM_DOWNLOAD=false
PUPPETEER_CACHE_DIR=/tmp/.puppeteer_cache

