services:
  - type: web
    name: lapremier-server
    env: node
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 5005
    healthCheckPath: /health

